<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="orangeHRM" level="debug" />
    <logger name="demoQA" level="debug" />
    <logger name="AutomationPractise" level="debug" />

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>